[submodule "Doc/Plane-Elements-"]
	url = https://github.com/brenotakiuti/Plane-Elements-.git
[submodule "Doc/Rod-and-Beam"]
	url = https://github.com/brenotakiuti/Rod-and-Beam.git
[submodule "Doc/WFE_Functions"]
	url = https://github.com/brenotakiuti/WFE_Functions.git
[submodule "git-icon"]
	url = https://github.com/JacobDB/git-icon.git
[submodule "Error-Guides"]
	path = Error-Guides
	url = https://github.com/brenotakiuti/Error-Guides.git
